*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  html{
    font-size: 20px;
    overflow-x: hidden;
  }
  main{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .side{
    background-color: black;
    width: 20vw;
    height: 100vh;
    color: white;
    flex-direction: column;
  }
  .user{
    height: 20vh;
    width: 20vw;
    background-image: url('../img/welcome.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user h3{
    text-align: center;
    width: 100%;
    color: white;
    opacity: 0.7;
    box-shadow: -4px 1px 5px black;
  }
  .menu{
    height: 70vh;
    width: 20vw;
    background-color: black;
  }
  .menu ul li a{
    display: inline-block;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
    
  }
  .menu ul li a:hover{
    background-color: white;
    color: #be43dd;
    opacity: 0.6;
  }
  .logout a{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vw;
    text-align: center;
    color: #be43dd;
  }
  .logout a:hover{
    background-color: #be43dd;
    color: black;
    opacity: 0.6;
  }
  .editakun{
    margin: auto;
  }
  form{
    background-color: rgba(4, 29, 23, 0.5); 
    color: white;
  }